*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif; //400   //700
}

body{
    font-size: 16px;
}



@import "gillaPrincipal";
@import "fontColors";
@import "content";



